body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;

  background-color: #ffff00;
  .container {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    button {
      cursor: pointer;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 2px solid black;
      transition: 0.4s;
      font-size: 12px;
    }
    button:first-child {
      background-color: #808080;
    }
    button:nth-child(2) {
      background-color: #fe0000;
    }
    button:nth-child(3) {
      background-color: #0000fe;
    }
    button:last-child {
      background-color: #ffff00;
    }
    p {
      text-align: center;
      font-weight: 700;
      width: 300px;
    }
  }
}
